<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmcoder.duermebeb">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="Duerme Bebé"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.view.StartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.view.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.view.MainActivityImpl"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name=".views.view.MainActivityImpl$PlayReceiver">
            <intent-filter>
                <action android:name="BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MediaPlayerMainService"
            android:enabled="true"></service>

        <activity
            android:name=".views.view.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.view.LoginActivity" />
        </activity>
        <activity
            android:name=".views.view.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.view.LoginActivity" />
        </activity>
        <activity
            android:name=".views.view.ProfilePictureActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.view.MainActivityImpl" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pmcoder.duermebeb"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity android:name=".views.view.FavoritesActivity"></activity>
    </application>

</manifest>